# India

In [ ]:
import pandas as pd
import requests

In [37]:
d = dict()

In [40]:
def fetch_indianData_AllSpecies(d):
    for i in range(1,34):
        response = requests.get(f'https://xeno-canto.org/api/2/recordings?query=cnt:india&page={i}')
        df = pd.DataFrame(response.json()['recordings'])
        d[f'df{i}'] = df
    return d

In [41]:
d = fetch_indianData_AllSpecies(d)

In [44]:
d.keys()

dict_keys(['df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14', 'df15', 'df16', 'df17', 'df18', 'df19', 'df20', 'df21', 'df22', 'df23', 'df24', 'df25', 'df26', 'df27', 'df28', 'df29', 'df30', 'df31', 'df32', 'df33'])

In [45]:
d['df1']

,id,gen,sp,ssp,group,en,rec,cnt,loc,lat,...,rmk,bird-seen,animal-seen,playback-used,temp,regnr,auto,dvc,mic,smp
0,335628,Megapodius,nicobariensis,,birds,Nicobar Megapode,Sudhir Garg,India,,,...,It was one of toughest journey of mine for sea...,no,no,no,,,no,,,44100
1,298956,Megapodius,nicobariensis,,birds,Nicobar Megapode,Garima Bhatia,India,,,...,Bird was seen briefly at nest (observers were ...,yes,yes,no,,,no,,,16000
2,569023,Lerwa,lerwa,,birds,Snow Partridge,Jelle Scharringa,India,"Sela pass area, Arrunachal Pradesh",27.4928,...,"8 birds together, a few of them calling.",yes,yes,yes,,,no,,,44100
3,426652,Lerwa,lerwa,,birds,Snow Partridge,Peter Boesman,India,"Sela pass area, Arrunachal Pradesh",27.492778,...,,unknown,unknown,unknown,,,no,,,44100
4,426650,Lerwa,lerwa,,birds,Snow Partridge,Peter Boesman,India,"Sela pass area, Arrunachal Pradesh",27.492778,...,,unknown,unknown,unknown,,,no,,,44100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,426172,Pavo,cristatus,,birds,Indian Peafowl,Sreekumar Chirukandoth,India,"Namakkal, Tamil Nadu",11.1633,...,An adult male in a group calling out,yes,yes,no,,,no,,,44100
496,343013,Pavo,cristatus,,birds,Indian Peafowl,Andrew Mascarenhas,India,"Bardez (near Donwaddo, Salvador Do Mundo, Bar...",15.5238,...,,no,no,no,,,no,,,48000
497,191122,Pavo,cristatus,,birds,Indian Peafowl,Mandar Bhagat,India,"Cotarli,Sanguem, South Goa, Goa",15.2087,...,,no,no,no,,,no,,,44100
498,189336,Pavo,cristatus,,birds,Indian Peafowl,Shailendra Patil,India,"Kanha National Park, Balaghat, Madhya Pradesh",22.2983,...,,yes,yes,unknown,,,no,,,44100
499,165857,Pavo,cristatus,,birds,Indian Peafowl,Frank Lambert,India,"Siyana, Jalore, Rajasthan",25.135,...,"Calling from a roost, pre dawn, probably in a ...",no,no,no,,,no,,,44100

In [46]:
df = pd.concat([d['df1'], d['df2'],d['df3'],d['df4'],d['df5'],d['df6'],d['df7'],d['df8'],d['df9'],d['df10'],d['df11'], d['df12'], d['df13'], d['df14'], d['df15'], d['df16'], d['df17'], d['df18'], d['df19'], d['df20'], d['df21'], d['df22'], d['df23'], d['df24'], d['df25'], d['df26'], d['df27'], d['df28'], d['df29'], d['df30'], d['df31'], d['df32'], d['df33']], axis=0)

In [50]:
df.shape

(16500, 38)

In [47]:
df

,id,gen,sp,ssp,group,en,rec,cnt,loc,lat,...,rmk,bird-seen,animal-seen,playback-used,temp,regnr,auto,dvc,mic,smp
0,335628,Megapodius,nicobariensis,,birds,Nicobar Megapode,Sudhir Garg,India,,,...,It was one of toughest journey of mine for sea...,no,no,no,,,no,,,44100
1,298956,Megapodius,nicobariensis,,birds,Nicobar Megapode,Garima Bhatia,India,,,...,Bird was seen briefly at nest (observers were ...,yes,yes,no,,,no,,,16000
2,569023,Lerwa,lerwa,,birds,Snow Partridge,Jelle Scharringa,India,"Sela pass area, Arrunachal Pradesh",27.4928,...,"8 birds together, a few of them calling.",yes,yes,yes,,,no,,,44100
3,426652,Lerwa,lerwa,,birds,Snow Partridge,Peter Boesman,India,"Sela pass area, Arrunachal Pradesh",27.492778,...,,unknown,unknown,unknown,,,no,,,44100
4,426650,Lerwa,lerwa,,birds,Snow Partridge,Peter Boesman,India,"Sela pass area, Arrunachal Pradesh",27.492778,...,,unknown,unknown,unknown,,,no,,,44100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,426172,Pavo,cristatus,,birds,Indian Peafowl,Sreekumar Chirukandoth,India,"Namakkal, Tamil Nadu",11.1633,...,An adult male in a group calling out,yes,yes,no,,,no,,,44100
496,343013,Pavo,cristatus,,birds,Indian Peafowl,Andrew Mascarenhas,India,"Bardez (near Donwaddo, Salvador Do Mundo, Bar...",15.5238,...,,no,no,no,,,no,,,48000
497,191122,Pavo,cristatus,,birds,Indian Peafowl,Mandar Bhagat,India,"Cotarli,Sanguem, South Goa, Goa",15.2087,...,,no,no,no,,,no,,,44100
498,189336,Pavo,cristatus,,birds,Indian Peafowl,Shailendra Patil,India,"Kanha National Park, Balaghat, Madhya Pradesh",22.2983,...,,yes,yes,unknown,,,no,,,44100
499,165857,Pavo,cristatus,,birds,Indian Peafowl,Frank Lambert,India,"Siyana, Jalore, Rajasthan",25.135,...,"Calling from a roost, pre dawn, probably in a ...",no,no,no,,,no,,,44100

In [48]:
df.to_csv('BirdRecordingIndia_All.csv')

In [49]:
df['sp'].value_counts()

sonneratii        2178
pondicerianus     1683
torqueola         1122
spadicea           990
impejanus          891
francolinus        792
coromandelica      759
gallus             759
macrolopha         759
pictus             759
cristatus          495
erythrorhyncha     462
rufogularis        462
atrogularis        462
blythii            429
mandellii          429
leucomelanos       396
gularis            396
asiatica           363
bicalcaratum       363
wallichii          330
lerwa              297
fytchii            165
lunulata           132
melanocephalus      99
cruentus            99
satyra              66
sclateri            66
argoondah           66
chukar              66
nicobariensis       66
temminckii          33
chinensis           33
coturnix            33
Name: sp, dtype: int64

In [54]:
sub_df = df[df.groupby('sp').gen.transform('count')>500].copy()

In [55]:
sub_df

,id,gen,sp,ssp,group,en,rec,cnt,loc,lat,...,rmk,bird-seen,animal-seen,playback-used,temp,regnr,auto,dvc,mic,smp
13,786355,Francolinus,francolinus,,birds,Black Francolin,Jelle Scharringa,India,"Nainital (near Bhowali Range), Kumaon Divisio...",29.3652,...,"Two birds calling, one in distance. In dense g...",no,no,no,,,no,,,44100
14,676586,Francolinus,francolinus,,birds,Black Francolin,Jelle Scharringa,India,"Baranda, Kutch, Gujarat",23.5435,...,"One male close by, more birds in distance.\r\n",yes,yes,no,,,no,,,44100
15,569064,Francolinus,francolinus,,birds,Black Francolin,Jelle Scharringa,India,"Lala-Naliya Grassland Reserve, Kutch, Gujarat ...",23.5435,...,Close to Kutch Bustard Sanctuary.,yes,yes,no,,,no,,,44100
16,426552,Francolinus,francolinus,,birds,Black Francolin,Peter Boesman,India,"Manas National Park, Assam",26.672638,...,,unknown,unknown,unknown,,,no,,,44100
17,426551,Francolinus,francolinus,,birds,Black Francolin,Peter Boesman,India,"Manas National Park, Assam",26.672638,...,,unknown,unknown,unknown,,,no,,,44100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,150290,Gallus,sonneratii,,birds,Grey Junglefowl,tushar takale,India,"Nagpur, Nagpur, Maharashtra",21.1958,...,call coming from dense forest area .i was unab...,no,no,no,,,no,,,44100
448,115782,Gallus,sonneratii,,birds,Grey Junglefowl,Saurabh Sawant,India,"Munnar, Kerala",10.0821,...,,no,no,no,,,no,,,16000
449,37514,Gallus,sonneratii,,birds,Grey Junglefowl,David Farrow,India,"Periyar National Park, Kerala",9.508662,...,,unknown,unknown,unknown,,,no,,,44100
450,404358,Gallus,sonneratii,,birds,Grey Junglefowl,Meena Haribal,India,"Kulgi, Uttara Kannada, Karnataka",15.1695,...,Early morning vocalization,no,no,no,,,no,,,44100
451,97514,Gallus,sonneratii,,birds,Grey Junglefowl,L. Shyamal,India,Talakaveri,12.363,...,,unknown,unknown,unknown,,,no,,,8000

In [57]:
sub_df['sp'].value_counts()

sonneratii       2178
pondicerianus    1683
torqueola        1122
spadicea          990
impejanus         891
francolinus       792
pictus            759
coromandelica     759
macrolopha        759
gallus            759
Name: sp, dtype: int64

In [58]:
sub_df.to_csv('BirdRecordingIndia_TotalFinal.csv')